.HoursWatched {
    background-color: rgb(117, 255, 117);
    width: 100%;
    
}

.ListOfGames {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
}



.SeeMore{
    float: right;
    margin-right: 20px;
    margin-bottom: 20px;
    font-size: 1.3rem;
}